[submodule "JanusEngine/vendors/spdlog"]
	path = JanusEngine/vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "JanusEngine/vendors/ftl"]
	path = JanusEngine/vendors/ftl
	url = https://github.com/RichieSams/FiberTaskingLib.git
[submodule "JanusEngine/vendors/glfw"]
	path = JanusEngine/vendors/glfw
	url = https://github.com/glfw/glfw.git
